{% set docker = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'docker-ce',
        'pkg_version': '17.06.2~ce-0~ubuntu_amd64',
        'py_version': '1.10.6',
        'datadir': '',
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('docker',{})) %}
