{% set docker = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'docker-engine',
        'pkg_version': '1.12.3',
        'py_version': '1.10.6',
        'datadir': '',
    },
    'default': 'Debian',
}, merge=salt['pillar.get']('docker',{})) %}
